<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTACTOS</title>
</head>
<body>
  <!-- Shape: Board -->
<svg xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" width="1524" xmlns="http://www.w3.org/2000/svg" style="-webkit-print-color-adjust:exact" id="screenshot-0b3bbf40-829a-800a-8002-1f54684911b7" version="1.1" viewBox="747 -110 1524 1023.329" height="1023.329">
  <style data-loading="true">
  </style>
  <g id="shape-0b3bbf40-829a-800a-8002-1f54684911b7">
    <defs>
      <clipPath class="frame-clip-def frame-clip" id="frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-37">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-110" width="1524" height="1023.328524590164" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)">
        </rect>
      </clipPath>
    </defs>
    <g clip-path="url(#frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-37)">
      <clipPath class="frame-clip-def frame-clip" id="frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-37">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-110" width="1524" height="1023.328524590164" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)">
        </rect>
      </clipPath>
      <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54684911b7">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-110" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1524" height="1023.328524590164" class="frame-background">
        </rect>
      </g>
      <g class="frame-children">
        <g id="shape-0b3bbf40-829a-800a-8002-1f54bc288d6f">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54bc288d6f">
            <rect rx="0" ry="0" style="fill:#000000;fill-opacity:1" x="747" y="-109.99999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1525" height="111">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f92a87e5745">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f92a87e5745">
            <rect rx="0" ry="0" style="fill:#b1b2b5;fill-opacity:0.375" x="747" y="37" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1525" height="702.9999999999999">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f92c1d0b49a">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1626.9999999999998" y="136" height="116" width="595.0000000000002" data-loading="false" id="fill-0-rumext-id-40">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="595.0000000000002" height="116">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1626.9999999999998" y="136" height="116" width="595.0000000000002" data-loading="false" id="fill-1-rumext-id-40">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="595.0000000000002" height="116">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1626.9999999999998" y="136" width="595.0000000000002" height="116" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f92c1d0b49a">
              <text x="1626.9999999999998" y="132" textLength="352.25" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">Kevin Monteza</text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f92c1d0b49a">
              <text x="1626.9999999999998" y="191.20000076293945" textLength="591.9874877929688" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">2021024219@unfv.edu.pe</text>
            </g>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f92c25663d7">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1627" y="341.99999999999994" height="118.00000000000006" width="595" data-loading="false" id="fill-0-rumext-id-41">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="595" height="118.00000000000006">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1627" y="341.99999999999994" height="118.00000000000006" width="595" data-loading="false" id="fill-1-rumext-id-41">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="595" height="118.00000000000006">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1627" y="341.99999999999994" width="595" height="118.00000000000006" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f92c25663d7">
              <text x="1627" y="337.99999999999994" textLength="287" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">Rider yucra</text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f92c25663d7">
              <text x="1627" y="397.2000007629394" textLength="591.9874877929688" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">2021018354@unfv.edu.pe</text>
            </g>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f9290bbad01">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1627" y="524" height="116" width="595.0000000000005" data-loading="false" id="fill-0-rumext-id-42">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="595.0000000000005" height="116">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1627" y="524" height="116" width="595.0000000000005" data-loading="false" id="fill-1-rumext-id-42">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="595.0000000000005" height="116">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1627" y="524" width="595.0000000000005" height="116" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f9290bbad01">
              <text x="1627" y="520" textLength="309.75" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">Luis Taboada</text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f9290bbad01">
              <text x="1627" y="579.2000007629395" textLength="591.9874877929688" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">2022016407@UNFV.EDU.PE</text>
            </g>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f927b39e816">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="906.9999999999998" y="465.9999999999997" height="211.00000000000006" width="533" data-loading="true" id="fill-0-rumext-id-43">
              <g>
                <image href="https://design.penpot.app/assets/by-file-media-id/19fb4da3-0dd5-818c-8002-1f8ea324a0e8" preserveAspectRatio="none" width="533" height="211.00000000000006">
                </image>
              </g>
            </pattern>
          </defs>
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f927b39e816">
            <rect rx="0" ry="0" x="906.9999999999998" y="465.9999999999997" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="533" height="211.00000000000006" fill="url(#fill-0-rumext-id-43)">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f57b7f06dd8">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f57b7f06dd8">
            <rect rx="0" ry="0" style="fill:#000000;fill-opacity:1" x="746.0000000000002" y="739" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1526.0000000000002" height="174.99999999999977">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f54fb2366a2">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="792.0000000000001" y="-88" height="68.00000000000004" width="707.000000000001" data-loading="false" id="fill-0-rumext-id-45">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="707.000000000001" height="68.00000000000004">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="792.0000000000001" y="-88" width="707.000000000001" height="68.00000000000004" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54fb2366a2">
              <text x="791.9999999999994" y="-92" textLength="686" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">NUESTRA PRIMERA PÁGINA WEB</text>
            </g>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f5894df41cb">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1410.0000000000005" y="802" height="66.99999999999966" width="145.99999999999932" data-loading="false" id="fill-0-rumext-id-46">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="145.99999999999932" height="66.99999999999966">
                </rect>
              </g>
            </pattern>
          </defs>

          <a href="inicio">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1410.0000000000005" y="802" width="145.99999999999932" height="66.99999999999966" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f5894df41cb">
              <text x="1410.0000000000005" y="798" textLength="139.08750915527344" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >INICIO</text>
            </g>
          </g>
          </a>

        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f58a898a672">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1627.0000000000002" y="804.0000000000002" height="64.99999999999989" width="260.0000000000007" data-loading="false" id="fill-0-rumext-id-47">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="260.0000000000007" height="64.99999999999989">
                </rect>
              </g>
            </pattern>
          </defs>

          <a href="ejercicios">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1612.9999999999998" y="775" width="318.9999999999998" height="109" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f58a898a672">
              <text x="1639.7625007629392" y="771" textLength="265.4624938964844" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >EJERCICIOS</text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f58a898a672">
              <text x="1625.6500005722044" y="830.2000007629395" textLength="293.70001220703125" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >PROPUESTOS</text>
            </g>
          </g>
          </a>

        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f58ae222af2">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1946" y="801" height="71.00000000000057" width="275.9999999999991" data-loading="false" id="fill-0-rumext-id-48">
              <g>
                <rect style="fill:#e0ac11;fill-opacity:1" width="275.9999999999991" height="71.00000000000057">
                </rect>
              </g>
            </pattern>
          </defs>

          <a href="contactos">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1946" y="801" width="275.9999999999991" height="71.00000000000057" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f58ae222af2">
              <text x="1946" y="797" textLength="257.9624938964844" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(224, 172, 17);direction:ltr;fill:#e0ac11;fill-opacity:1"
              >CONTACTOS</text>
            </g>
          </g>
          </a>

        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f89e6d4af67">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="746.9999999999999" y="517" height="397" width="852.9999999999997" data-loading="true" patternTransform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" id="fill-0-rumext-id-49">
              <g>
                <image href="https://design.penpot.app/assets/by-file-media-id/456fbe35-8a03-805b-8002-1f89e46164bb" preserveAspectRatio="none" width="852.9999999999997" height="397">
                </image>
              </g>
            </pattern>
          </defs>
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f89e6d4af67">
            <path rx="0" ry="0" d="M747.395,517.000L1600.000,517.000L1600.000,914.000L747.395,914.000L747.395,738.985L747.395,517.000ZM747.395,517.000C746.507,739.036,747.395,738.985,747.395,738.985L861.075,853.606L1600.000,914.000L1600.000,517.000" fill="url(#fill-0-rumext-id-49)">
            </path>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1fb2b638d7c0">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="993" y="76" height="361" width="361" data-loading="true" id="fill-0-rumext-id-50">
              <g>
                <image href="https://design.penpot.app/assets/by-file-media-id/456fbe35-8a03-805b-8002-1fb2b4006769" preserveAspectRatio="none" width="361" height="361">
                </image>
              </g>
            </pattern>
          </defs>
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1fb2b638d7c0">
            <rect rx="0" ry="0" x="993" y="76" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="361" height="361" fill="url(#fill-0-rumext-id-50)">
            </rect>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
</body>
</html>