<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJERCICIOS PROPUESTOS</title>
</head>
<body>
<!-- Shape: Board -->
<svg xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" width="1525" xmlns="http://www.w3.org/2000/svg" style="-webkit-print-color-adjust:exact" id="screenshot-0b3bbf40-829a-800a-8002-1f54684911b7" version="1.1" viewBox="747 -110 1525 1024" height="1024">
  <style data-loading="true">
  </style>
  <g id="shape-0b3bbf40-829a-800a-8002-1f54684911b7">
    <defs>
      <clipPath class="frame-clip-def frame-clip" id="frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-263">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-109.99999999999994" width="1525" height="1024" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)">
        </rect>
      </clipPath>
    </defs>
    <g clip-path="url(#frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-263)">
      <clipPath class="frame-clip-def frame-clip" id="frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-263">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-109.99999999999994" width="1525" height="1024" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)">
        </rect>
      </clipPath>
      <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54684911b7">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-109.99999999999994" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1525" height="1024" class="frame-background">
        </rect>
      </g>
      <g class="frame-children">
        <g id="shape-0b3bbf40-829a-800a-8002-1f54bc288d6f">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54bc288d6f">
            <rect rx="0" ry="0" style="fill:#000000;fill-opacity:1" x="747" y="-109.99999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1525" height="111">
            </rect>
          </g>
        </g>
        <g id="shape-18909bcb-8601-808c-8002-1fc150e4e352">
          <g class="fills" id="fills-18909bcb-8601-808c-8002-1fc150e4e352">
            <rect rx="0" ry="0" style="fill:#b1b2b5;fill-opacity:0.375" x="744" y="37" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1525" height="704">
            </rect>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-20030a77ce20">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1531" y="485" height="40" width="558" data-loading="false" id="fill-0-rumext-id-266">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1531" y="485" height="40" width="558" data-loading="false" id="fill-1-rumext-id-266">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1531" y="485" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-20030a77ce20">
              <text x="1531" y="483.39999997615814" textLength="478.57501220703125" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >ENUNCIADO: Suma de los primeros 10 números </text>
            </g>
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-20030a77ce20">
              <text x="1531" y="512.2000007629395" textLength="81.07500457763672" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >impares</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-2002fb3a61d3">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="833" y="578" height="40" width="558" data-loading="false" id="fill-0-rumext-id-267">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="833" y="578" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-2002fb3a61d3">
              <text x="833" y="576.3999999761581" textLength="135.3625030517578" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >El resultado es {{ resultado }}</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-200310c553ab">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1531" y="578" height="40" width="558" data-loading="false" id="fill-0-rumext-id-268">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1531" y="578" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-200310c553ab">
              <text x="1531" y="576.3999999761581" textLength="135.3625030517578" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >El resultado es {{ impares }}</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-2002f7e50818">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="833" y="485" height="40" width="558" data-loading="false" id="fill-0-rumext-id-269">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="833" y="485" height="40" width="558" data-loading="false" id="fill-1-rumext-id-269">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="833" y="485" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-2002f7e50818">
              <text x="833" y="483.39999997615814" textLength="497.75" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >ENUNCIADO: Determinar si el número es positivo, </text>
            </g>
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-2002f7e50818">
              <text x="833" y="512.2000007629395" textLength="176.8625030517578" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >negativo o neutro</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-2002efae2033">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1529" y="405" height="70" width="677" data-loading="false" id="fill-0-rumext-id-270">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="677" height="70">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1529" y="405" width="677" height="70" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-2002efae2033">
              <text x="1529" y="401" textLength="264.2875061035156" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >EJERCICIO 4</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-2002ea66310d">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="833" y="405" height="70" width="677" data-loading="false" id="fill-0-rumext-id-271">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="677" height="70">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="833" y="405" width="677" height="70" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-2002ea66310d">
              <text x="833" y="401" textLength="264.2875061035156" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >EJERCICIO 3</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-1ffe6e63641f">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="833" y="264" height="40" width="558" data-loading="false" id="fill-0-rumext-id-272">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="833" y="264" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-1ffe6e63641f">
              <text x="833" y="262.39999997615814" textLength="135.3625030517578" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >El resultado es {{ cantidad_productos }}</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-1ffe76841d09">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1529" y="300" height="40" width="558" data-loading="false" id="fill-0-rumext-id-273">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1529" y="300" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-1ffe76841d09">
              <text x="1529" y="298.39999997615814" textLength="135.3625030517578" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >El resultado es {{ producto }}</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-1ffe64fa1f9d">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="833" y="200" height="40" width="558" data-loading="false" id="fill-0-rumext-id-274">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="833" y="200" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-1ffe64fa1f9d">
              <text x="833" y="198.39999997615814" textLength="463.5375061035156" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >ENUNCIADO: Contar los productos de una lista</text>
            </g>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f57b7f06dd8">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f57b7f06dd8">
            <rect rx="0" ry="0" style="fill:#000000;fill-opacity:1" x="743" y="740" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1526" height="175">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f54fb2366a2">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="792.0000000000002" y="-87.99999999999996" height="68" width="707.0000000000011" data-loading="false" id="fill-0-rumext-id-276">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="707.0000000000011" height="68">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="792.0000000000002" y="-87.99999999999996" width="707.0000000000011" height="68" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54fb2366a2">
              <text x="791.9999999999995" y="-92" textLength="686" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >NUESTRA PRIMERA PÁGINA WEB</text>
            </g>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f5894df41cb">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1433" y="797" height="66.99999999999977" width="145.9999999999991" data-loading="false" id="fill-0-rumext-id-277">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="145.9999999999991" height="66.99999999999977">
                </rect>
              </g>
            </pattern>
          </defs>
          <a href="inicio">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1433" y="797" width="145.9999999999991" height="66.99999999999977" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f5894df41cb">
              <text x="1433" y="793" textLength="139.08750915527344" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >INICIO</text>
            </g>
          </g>
          </a>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1fbad34b67bb">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1621.9999999999998" y="768" height="109" width="318.9999999999998" data-loading="false" id="fill-0-rumext-id-278">
              <g>
                <rect style="fill:#e0ac11;fill-opacity:1" width="318.9999999999998" height="109">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1621.9999999999998" y="768" height="109" width="318.9999999999998" data-loading="false" id="fill-1-rumext-id-278">
              <g>
                <rect style="fill:#e0ac11;fill-opacity:1" width="318.9999999999998" height="109">
                </rect>
              </g>
            </pattern>
          </defs>
          <a href="ejercicios">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1621.9999999999998" y="768" width="318.9999999999998" height="109" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1fbad34b67bb">
              <text x="1648.7625007629392" y="764" textLength="265.4624938964844" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(224, 172, 17);direction:ltr;fill:#e0ac11;fill-opacity:1"
              >EJERCICIOS </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1fbad34b67bb">
              <text x="1634.6500005722044" y="823.2000007629395" textLength="293.70001220703125" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(224, 172, 17);direction:ltr;fill:#e0ac11;fill-opacity:1"
              >PROPUESTOS</text>
            </g>
          </g>
          </a>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f58ae222af2">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1963" y="796" height="71.00000000000068" width="275.9999999999991" data-loading="false" id="fill-0-rumext-id-279">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="275.9999999999991" height="71.00000000000068">
                </rect>
              </g>
            </pattern>
          </defs>
          <a href="contactos">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1963" y="796" width="275.9999999999991" height="71.00000000000068" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f58ae222af2">
              <text x="1963" y="792" textLength="257.9624938964844" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >CONTACTOS</text>
            </g>
          </g>
          </a>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f89e6d4af67">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="746.9999999999999" y="516.9999999999999" height="397.0000000000001" width="852.9999999999994" data-loading="true" patternTransform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" id="fill-0-rumext-id-280">
              <g>
                <image href="https://design.penpot.app/assets/by-file-media-id/456fbe35-8a03-805b-8002-1f89e46164bb" preserveAspectRatio="none" width="852.9999999999994" height="397.0000000000001">
                </image>
              </g>
            </pattern>
          </defs>
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f89e6d4af67">
            <path rx="0" ry="0" d="M747.395,517.000L1600.000,517.000L1600.000,914.000L747.395,914.000L747.395,738.985L747.395,517.000ZM747.395,517.000C746.507,739.036,747.395,738.985,747.395,738.985L861.075,853.606L1600.000,914.000L1600.000,517.000" fill="url(#fill-0-rumext-id-280)">
            </path>
          </g>
        </g>
        <g id="shape-18909bcb-8601-808c-8002-1fc127c8fde6">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1529" y="90" height="70" width="677" data-loading="false" id="fill-0-rumext-id-281">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="677" height="70">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1529" y="90" width="677" height="70" rx="0" ry="0">
            <g class="fills" id="fills-18909bcb-8601-808c-8002-1fc127c8fde6">
              <text x="1529" y="86" textLength="264.2875061035156" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >EJERCICIO 2</text>
            </g>
          </g>
        </g>
        <g id="shape-18909bcb-8601-808c-8002-1fc1674e48a2">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="833" y="90" height="70" width="677" data-loading="false" id="fill-0-rumext-id-282">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="677" height="70">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="833" y="90" width="677" height="70" rx="0" ry="0">
            <g class="fills" id="fills-18909bcb-8601-808c-8002-1fc1674e48a2">
              <text x="833" y="86" textLength="264.2875061035156" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >EJERCICIO 1</text>
            </g>
          </g>
        </g>
        <g id="shape-87e8bf15-8c67-8011-8002-1ffe328429fc">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1529" y="200" height="40" width="558" data-loading="false" id="fill-0-rumext-id-283">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1529" y="200" height="40" width="558" data-loading="false" id="fill-1-rumext-id-283">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="558" height="40">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1529" y="200" width="558" height="40" rx="0" ry="0">
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-1ffe328429fc">
              <text x="1529" y="198.39999997615814" textLength="553.125" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >ENUNCIADO: Calcular la multiplicación de los primeros </text>
            </g>
            <g class="fills" id="fills-87e8bf15-8c67-8011-8002-1ffe328429fc">
              <text x="1529" y="227.20000076293945" textLength="123.75" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:24px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"
              >10 números:</text>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
</body>
</html>