<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>
<body>
    <!-- Shape: Board -->
<svg xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" width="1524" xmlns="http://www.w3.org/2000/svg" style="-webkit-print-color-adjust:exact" id="screenshot-0b3bbf40-829a-800a-8002-1f54684911b7" version="1.1" viewBox="747 -110 1524 1023.329" height="1023.329">
  <style data-loading="true">
  </style>
  <g id="shape-0b3bbf40-829a-800a-8002-1f54684911b7">
    <defs>
      <clipPath class="frame-clip-def frame-clip" id="frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-64">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-110" width="1524" height="1023.328524590164" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)">
        </rect>
      </clipPath>
    </defs>
    <g clip-path="url(#frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-64)">
      <clipPath class="frame-clip-def frame-clip" id="frame-clip-0b3bbf40-829a-800a-8002-1f54684911b7-rumext-id-64">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-110" width="1524" height="1023.328524590164" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)">
        </rect>
      </clipPath>
      <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54684911b7">
        <rect rx="0" ry="0" style="fill:#FFFFFF;fill-opacity:1" x="747" y="-110" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1524" height="1023.328524590164" class="frame-background">
        </rect>
      </g>
      <g class="frame-children">
        <g id="shape-0b3bbf40-829a-800a-8002-1f54bc288d6f">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54bc288d6f">
            <rect rx="0" ry="0" style="fill:#000000;fill-opacity:1" x="747" y="-109.99999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1525" height="111">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f54d248cbd8">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54d248cbd8">
            <rect rx="0" ry="0" style="fill:#ffffff;fill-opacity:1" x="746.9999999999999" y="27.000000000000018" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1919.9999999999986" height="52.99999999999997">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f55e5b8e01c">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f55e5b8e01c">
            <rect rx="0" ry="0" style="fill:#b1b2b5;fill-opacity:0.375" x="746" y="26.999999999999986" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1525" height="711.9999999999999">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f57b7f06dd8">
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f57b7f06dd8">
            <rect rx="0" ry="0" style="fill:#000000;fill-opacity:1" x="746.0000000000002" y="739" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="1526.0000000000002" height="174.99999999999977">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f587a2a6302">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="818.0000000000002" y="160.00000000000009" height="448.99999999999966" width="438" data-loading="true" id="fill-0-rumext-id-69">
              <g>
                <image href="https://design.penpot.app/assets/by-file-media-id/19fb4da3-0dd5-818c-8002-1f5877738cb9" preserveAspectRatio="none" width="438" height="448.99999999999966">
                </image>
              </g>
            </pattern>
          </defs>
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f587a2a6302">
            <rect rx="0" ry="0" x="818.0000000000002" y="160.00000000000009" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="438" height="448.99999999999966" fill="url(#fill-0-rumext-id-69)">
            </rect>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f54fb2366a2">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="792.0000000000001" y="-88" height="68.00000000000004" width="707.000000000001" data-loading="false" id="fill-0-rumext-id-70">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="707.000000000001" height="68.00000000000004">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="792.0000000000001" y="-88" width="707.000000000001" height="68.00000000000004" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f54fb2366a2">
              <text x="791.9999999999994" y="-92" textLength="686" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">NUESTRA PRIMERA PÁGINA WEB</text>
            </g>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f5894df41cb">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1410.0000000000005" y="802" height="66.99999999999966" width="145.99999999999932" data-loading="false" id="fill-0-rumext-id-71">
              <g>
                <rect style="fill:#e0ac11;fill-opacity:1" width="145.99999999999932" height="66.99999999999966">
                </rect>
              </g>
            </pattern>
          </defs>

          <a href="inicio">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1410.0000000000005" y="802" width="145.99999999999932" height="66.99999999999966" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f5894df41cb">
              <text x="1410.0000000000023" y="797.9999999999987" textLength="139.08750915527344" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(224, 172, 17);direction:ltr;fill:#e0ac11;fill-opacity:1"
              >INICIO</text>
            </g>
          </g>
          </a>

        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f58a898a672">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1612.9999999999998" y="775" height="109" width="318.9999999999998" data-loading="false" id="fill-0-rumext-id-72">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="318.9999999999998" height="109">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1612.9999999999998" y="775" height="109" width="318.9999999999998" data-loading="false" id="fill-1-rumext-id-72">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="318.9999999999998" height="109">
                </rect>
              </g>
            </pattern>
          </defs>

          <a href="ejercicios">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1612.9999999999998" y="775" width="318.9999999999998" height="109" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f58a898a672">
              <text x="1639.7625007629392" y="771" textLength="265.4624938964844" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >EJERCICIOS </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f58a898a672">
              <text x="1625.6500005722044" y="830.2000007629395" textLength="293.70001220703125" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >PROPUESTOS</text>
            </g>
          </g>
          </a>

        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f58ae222af2">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1969" y="795" height="71.00000000000057" width="275.9999999999991" data-loading="false" id="fill-0-rumext-id-73">
              <g>
                <rect style="fill:#ffffff;fill-opacity:1" width="275.9999999999991" height="71.00000000000057">
                </rect>
              </g>
            </pattern>
          </defs>

          <a href="contactos">
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1969" y="795" width="275.9999999999991" height="71.00000000000057" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f58ae222af2">
              <text x="1969" y="791" textLength="257.9624938964844" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:900;white-space:pre;font-size:48px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1"
              >CONTACTOS</text>
            </g>
          </g>
          </a>

        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f89e6d4af67">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="746.9999999999999" y="517" height="397" width="852.9999999999997" data-loading="true" patternTransform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" id="fill-0-rumext-id-74">
              <g>
                <image href="https://design.penpot.app/assets/by-file-media-id/456fbe35-8a03-805b-8002-1f89e46164bb" preserveAspectRatio="none" width="852.9999999999997" height="397">
                </image>
              </g>
            </pattern>
          </defs>
          <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f89e6d4af67">
            <path rx="0" ry="0" d="M747.395,517.000L1600.000,517.000L1600.000,914.000L747.395,914.000L747.395,738.985L747.395,517.000ZM747.395,517.000C746.507,739.036,747.395,738.985,747.395,738.985L861.075,853.606L1600.000,914.000L1600.000,517.000" fill="url(#fill-0-rumext-id-74)">
            </path>
          </g>
        </g>
        <g id="shape-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
          <defs>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-0-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-1-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-2-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-3-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-4-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-5-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-6-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-7-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-8-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
            <pattern patternUnits="userSpaceOnUse" x="1360" y="151" height="449" width="831" data-loading="false" id="fill-9-rumext-id-75">
              <g>
                <rect style="fill:#000000;fill-opacity:1" width="831" height="449">
                </rect>
              </g>
            </pattern>
          </defs>
          <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="1360" y="151" width="831" height="449" rx="0" ry="0">
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="149.39999997615814" textLength="570.9249877929688" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">Bienvenidos a nuestro sitio web. </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="192.60000228881836" textLength="7.262500286102295" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"> </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="235.8000030517578" textLength="718.9375" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">utiliza nuestro menú de navegación para </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="279" textLength="719.1749877929688" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">encontrar rápidamente lo que necesitas.</text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="322.1999969482422" textLength="7.262500286102295" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"> </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="365.40000915527344" textLength="780.125" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">Si tienes alguna pregunta o necesitas ayuda, </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="408.6000061035156" textLength="821.4125366210938" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">no dudes en ponerte en contacto con nuestro </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="451.8000183105469" textLength="338.1000061035156" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">equipo de soporte. </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="495" textLength="7.262500286102295" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1"> </text>
            </g>
            <g class="fills" id="fills-0b3bbf40-829a-800a-8002-1f8fee9d12c5">
              <text x="1360" y="538.2000122070312" textLength="412.9750061035156" lengthAdjust="spacingAndGlyphs" dominant-baseline="text-before-edge" style="text-transform:uppercase;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:36px;text-decoration:none solid rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">¡Gracias por visitarnos!</text>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
</body>
</html>